{% load i18n %}
{% load filters %}

<div class="current-songbook">
    {% if current_songbook %}
        <a href="{% url 'songbook_private_list' %}" class="change">
            {% trans "changer de carnet" %}
        </a>
        <h3> {{current_songbook.title}}</h3>
        <ul>
            {% if song %}
                <li>
                {% if song|in_items:current_item_list %}
                    <form method="post" action="{% url "remove_song" %}" id="toogle_song_form" class="current_songbook">
                    <button type="submit" class="button-link" data-icon="delete">{% trans "Retirer du carnet" %}</button>
                    <input type="hidden" name="song_id" value="{{ song.id }}">
                {% else %}
                    <form method="post" action="{% url 'add_song_to_songbook' %}" id="toogle_song_form" class="current_songbook">
                    <button type="submit" class="button-link" data-icon="add">{% trans "Ajouter au carnet" %}</button>
                    <input type="hidden" name="songs[]" value="{{ song.id }}">
                {% endif %}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{% url "show_song" artist=song.artist.slug slug=song.slug %}">
                    </form>
                </li>
            {% else %}
                <li>
                    <a href="" id="add_songs" data-icon="add-multiple">
                    {% trans "Ajouter la sélection au carnet" %}
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'show_songbook' id=current_songbook.id slug=current_songbook.slug %}" data-icon="show-book">
                    {% trans "Afficher le carnet" %}
                    ({{current_songbook.count_songs}} {% trans "chants" %})
                </a>
            </li>
        </ul>
    {% else %}
    <a href="{% url 'songbook_private_list' %}">
        {% trans "Choisir un carnet pour ajouter des chants" %}
    </a>
    {% endif %}
</div>
