{% load i18n %}{% load setting %} 
{% setting MEDIA_URL as MEDIA_URL %}

{% if not task %}
        <a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?layout={{layout.id}}">
            {% trans "Générer" %}
        </a><br/>&nbsp;
{% elif task.state = 'FINISHED' %}
    {% if task.hash = songbook_hash %}
        <a href="{{ MEDIA_URL }}PDF/{{task.result.file}}" target="_blank">
            {% trans "Télécharger" %}
        </a><br/>
        &nbsp;
    {% else %}
        <a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?layout={{layout.id}}" >
            {% trans "Mettre à jour" %}
        </a><br/>
        <small>
            <a href="{{ MEDIA_URL }}PDF/{{task.result.file}}" 
            data-icon="outdated" title="{% trans "Le carnet a changé depuis la génération du fichier PDF." %}" target="_blank">
                {% trans "Télécharger" %}
            </a>
        </small>
    {% endif %}
{% elif task.state = 'ERROR' %}
    <a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?layout={{layout.id}}">
        {% trans "Relancer la génération" %}
    </a><br/>
    <small>
        {% trans "Erreur" %} - 
        <a href="{% url 'contact' %}?subject=Error+task+{{task.id}}">
            {% trans "Veuillez nous contacter" %}
        </a>
    </small>
{% else %}
    <small class="update-me task" data-task="{{ task.id }}">
        <span data-icon="processing">
            {% if task.state = 'IN_PROCESS' %}
                {% trans "Génération en cours..." %}
            {% else %}
                {% trans "Génération en attente..." %}
            {% endif %}
        </span>
    </small>
{% endif %}
