{% load i18n %}

<p>
{% trans "Générateur de carnets de chants en ligne" %}
</p>
<p>
{% trans "Ce recueil de chansons n'a absolument aucune vocation commerciale et joue sur l'autorisation tacite des auteurs et des ayants droits, pensant que la publication de ces tablatures représente plutôt une publicité positive à leur égard. Cependant, si un auteur ou une société accréditée désire s'opposer à la publication de ses tablatures, merci de nous contacter et celles-ci seront immédiatement retirées du site. Dans tous les cas, toutes les chansons restent la propriété de leurs auteurs respectifs et/ou ayant-droits." %}
</p>
