{% extends "generator/layout/doctype.html" %}
{% load staticfiles %}
{% load i18n %}
{% load setting %} 

{% block extrahead %}
{% setting DEBUG as debug %}
   <link rel="stylesheet/less" type="text/css" href="{% static "css/normalize.less" %}" />
   <link rel="stylesheet/less" type="text/css" href="{% static "css/main.less" %}" />
	{% if debug and False %}
		<script>
		  less = {
		    env: "development",
		    logLevel: 1,
		    poll: 5000,
		    dumpLineNumbers: "comments"
		  };
		</script>
    {% endif %}
	<script type="text/javascript" src="{% static "js/less-1.6.1.min.js" %}"></script>

   <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}" defer></script>
   <script type="text/javascript" src="{% static "js/jquery-ui-1.10.4.min.js" %}" defer></script>
   <script type="text/javascript" src="{% static "js/patanet.js" %}" defer></script>
   <script type="text/javascript">baseurl = '{% url 'home' %}';</script>
{% endblock %}

{% block body %}
	<input id="toggle_header" name="toggle_header" type="checkbox"/>
	<label for="toggle_header" class="toggle_header"><h2>{% trans "Menu" %}<span></span></h2></label>
	<header>
		{% include "generator/layout/header.html" %}
	</header>

	<div class="top">
	    <div class="app-menu">
            {% include "generator/menu/user.html" %}
	    	{% include "generator/layout/messages.html" %}
        </div>
	</div>

	<main id="content" role="main">
		{% block current_songbook %}
			{% if current_songbook %}
				{% with current_songbook as songbook %}
			    	{% include "generator/layout/current_songbook.html" %}
					{% include "generator/menu/search.html" %}
			    {% endwith %}
			{% elif songbook %}
			    {% include "generator/layout/current_songbook.html" %}
			{% else %}
				{% block choose_songbook %}
				{% endblock %}
			{% endif %}
        {% endblock %}

	<div class="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
	<h1>{% block title %}No title{% endblock %}</h1>
	
		{% block content %}
            No content
        {% endblock %}
	</main>

	<footer>
	{% include "generator/layout/footer.html" %}
	</footer>

{% endblock %}
