{% extends "generator/layout/doctype.html" %}
{% load staticfiles %}
{% load i18n %}
{% load settings %} {% settings "DEBUG" as debug %}

{% block extrahead %}
	{% if debug %}
	   <link rel="stylesheet/less" type="text/css" href="{% static "css/normalize.less" %}" />
	   <link rel="stylesheet/less" type="text/css" href="{% static "css/main.less" %}" />
	   <script src="{% static "js/less-1.6.1.min.js" %}"></script>
	{% else %}
        <link type="text/css" rel="stylesheet" href="{% static "css/normalize.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}" />
    {% endif %}
	   <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
       <script src="{% static "js/jquery-ui-1.10.4.min.js" %}"></script>
       <script src="{% static "js/sb_web.js" %}"></script>
{% endblock %}

{% block body %}
	<header>
		{% include "generator/layout/header.html" %}
	</header>

	<div class="top">
	    <div class="app-menu">
            {% include "generator/menu/user.html" %}
        </div>
	    {% include "generator/layout/messages.html" %}
		<div class="app-menu">
			{% block appmenu %}
			{% endblock %}
		</div>
	</div>

	<main id="content" role="main">
	<h1> {% block title %}No title{% endblock %}</h1>
		{% block content %}No content{% endblock %}

		{% if show_current_songbook %}
			{% include "generator/layout/current_songbook.html" %}
		{% endif %}
	</main>

	<footer>
	{% include "generator/layout/footer.html" %}
	</footer>

{% endblock %}
