{% extends "generator/layout/doctype.html" %}
{% load staticfiles %}
{% load i18n %}
{% load settings %} {% settings "DEBUG" as debug %}

{% block extrahead %}
	{% if debug %}
	   <link rel="stylesheet/less" type="text/css" href="{% static "css/normalize.less" %}" />
	   <link rel="stylesheet/less" type="text/css" href="{% static "css/main.less" %}" />
		<script>
		  less = {
		    env: "development",
		    logLevel: 2,
		    poll: 2000,
		    dumpLineNumbers: "comments"
		  };
		</script>
	   <script src="{% static "js/less-1.6.1.min.js" %}"></script>
	   <script>less.watch();</script>
	{% else %}
        <link type="text/css" rel="stylesheet" href="{% static "css/normalize.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}" />
    {% endif %}
{% endblock %}

{% block body %}
	<header>
		{% include "generator/layout/header.html" %}
	</header>

	<div class="top">
	    <div class="app-menu">
            {% include "generator/menu/user.html" %}
	    	{% include "generator/layout/messages.html" %}
        </div>
	</div>

	<main id="content" role="main">
		{% block current_songbook %}
			{% if current_songbook %}
				{% with current_songbook as songbook %}
			    	{% include "generator/layout/current_songbook.html" %}
					{% include "generator/menu/search.html" %}
			    {% endwith %}
			{% elif songbook %}
			    {% include "generator/layout/current_songbook.html" %}
			{% else %}
				{% block choose_songbook %}
				{% endblock %}
			{% endif %}
        {% endblock %}

	<h1>{% block title %}No title{% endblock %}</h1>
	
		{% block content %}
            No content
        {% endblock %}
	</main>

	<footer>
	{% include "generator/layout/footer.html" %}
	</footer>

{% endblock %}
