{% load i18n %}
{% load staticfiles %}
{% load filters %}

<h3>{% trans "Organiser le carnet" %}</h3>
<noscript>
<p>
{% blocktrans %}
Pour réordonner les chants, il suffit de changer les numéros de la colonne de gauche.
Pour supprimer un chant, il faut remplacer son numéro par un 'X'.
{% endblocktrans %}
</p>
</noscript>
<p class="script">
{% blocktrans %}
Vous pouvez organiser les éléments de ce carnet avec la souris.
{% endblocktrans %}
</p>

	<form class="item_list" method="post" action="{% url 'change_item_list' id=songbook.id slug=songbook.slug %}">
		{% csrf_token %}
        <input type="hidden" name="next" value="{% url "show_songbook" id=songbook.id slug=songbook.slug %}">
        <p class="new_section">
            <label for="new_section">
                {% trans "Nouvelle section :" %}
            </label>
            <input type="text" name="new_section" id="new_section" class="section_name" {% latex_free_attributes %}/>
            <br/><em>{% trans "La section sera insérée à la fin du carnet" %}</em>
        </p>

        <p>
        	<input type="submit" value="{% trans "Enregistrer les changements" %}" class="button-link">
        </p>
        <p class="new_section script">
			<button class="insert_section button-link" data-icon="add-section" type="button">{% trans "Insérer une nouvelle section" %}</button>
		</p>

		<ol class="item_list ordering">
			<li class="sorting">
				<label>
				</label>
				<span >
					<em>{% trans "Tri indépendant des sections:" %}</em>
				</span>
				<span>
				{% spaceless %}
					<button type="button" class="by_title sort">
						{% trans "par Titre" %}
					</button>
					<button type="button" class="by_artist sort">
						{% trans "par Artiste" %}
					</button>
				{% endspaceless %}
				</span>
			</li>
		{% for item in items_list %}
			<li class="{{ item.item_type.model}} orderable">
				{% if item.item_type.model == "section" %}
					<label for="section_{{item.id}}" class="dragger">
					</label>
                    <input type="text" id="section_{{item.id}}" value="{{item.item.name}}" name="section_{{item.id}}" class="section_name" {% latex_free_attributes %}/>
					<span>
					{% spaceless %}
						<button type="button" class="by_title sort">
							{% trans "par Titre" %}
						</button>
						<button type="button" class="by_artist sort">
							{% trans "par Artiste" %}
						</button>
					{% endspaceless %}
					</span>
				{% elif item.item_type.model == "song" %}
					<label for="item_{{item.id}}" class="dragger">
					</label>
						<a class="details title" href="{% url "show_song" slug=item.item.slug artist=item.item.artist.slug %}">
							{{ item.item.title }}
						</a>
					<a class="details artist" href="{% url "show_artist" slug=item.item.artist.slug %}" title="{{ item.item.artist.name }}">
						{{ item.item.artist.name }}
					</a>
				{% endif %}
				<input class="item-rank" id="item_{{item.id}}" name="item_{{item.id}}" value="{{item.rank}}" />
			</li>
		{% empty %}
			<p>
				{% trans "Ce carnet est vide" %}
			</p>
		{% endfor %}
        </ol>
        <p>
			<input type="submit" value="{% trans "Enregistrer les changements" %}" class="button-link">
		</p>
		<ol class="script ordering">
			<!-- DOM for section insertion via JS -->
			<li id="new_section_dom">
				<label for="section_{{item.id}}" class="dragger">
				</label>
                <input type="text" id="new_section_" value="" name="new_section[]" class="section_name" {% latex_free_attributes %}/>
				<span>
				</span>
				<input class="item-rank" id="new_item_" name="new_item[]" value="{{ songbook.count_items|add:1 }}" />
			</li>
		</ol>
	</form>
