{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "Tous les artistes" %} {% endblock %}

{% block choose_songbook %}
    {% include "generator/layout/choose_songbook.html" %}
{% endblock %}

{% block content %}
{% include "generator/layout/name_pagination.html" %}
	<form class="add_songs" method="post" action="{% url 'add_song_to_songbook' %}" id="add_songs_form">
        {% if current_songbook %}
    		{% csrf_token %}
    		<input type="hidden" name="next" value="{% url "artist_list" %}?page={{page_obj.number}}">
            <input type="hidden" name="current_songbook" id="current_songbook_id" value="{{ current_songbook.id }}">
            
            <button class="selection button-link" type="submit" data-icon="add-multiple">
                {% trans "Ajouter la sélection au carnet" %}
            </button>
        {% endif %}

        <ol class="artists">
        {% with True as in_list %}
    		{% for artist in artist_list %}
                {% include 'generator/artist_item.html' %}
    		{% endfor %}
        {% endwith %}
        </ol>
        
        {% if current_songbook %}
            <button class="selection button-link" type="submit" data-icon="add-multiple">
                {% trans "Ajouter la sélection au carnet" %}
            </button>
        {% endif %}
    </form>
{% endblock %}
