{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load filters %}

{% block title %} {% trans "Tous les artistes" %} {% endblock %}

{% block content %}
{% include "generator/layout/name_pagination.html" %}
	<form class="selection" method="post" action="{% url 'add_song_to_songbook' %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{% url "artist_list" %}?page={{page_obj.number}}">
        <input type="submit" value="{% trans "Ajouter au carnet" %}" class="button-link"/>
		<ol class="artists selection">
		{% for artist in artist_list %}
			<li>
				<input class="artist" type="checkbox" name="artists[]" value="{{ artist.id }}" id="artist_{{ artist.id }}"
                       {% if artist.songs.all|list_in_items:current_item_list %}checked disabled{% endif %}>
				<label class="artist" for="artist_{{ artist.id }}" title="{{ artist.name }}">
					{{ artist.name }}
				</label>
				<label class="details songs" for="all_songs_{{ artist.id }}">
					{% trans "Tous les chants" %} ({{ artist.songs.count }})
				</label>
                <input type="checkbox" id="all_songs_{{ artist.id }}" class="toggle_checkbox">
                <ul>
            		{% for song in artist.songs.all %}
            			<li>
				            <input class="select_song" type="checkbox" name="songs[]" value="{{ song.id }}"
            				id="song_{{ song.id }}" {% if song|in_items:current_item_list %}checked disabled{% endif %}>
			            	<label class="song" for="song_{{ song.id }}" title="{{ song.title }}">
        					{{ song.title }}
            				</label>
            				<a class="details lyrics" href="{% url "show_song" slug=song.slug artist=song.artist.slug %}">
                                {% trans "Paroles" %}
                            </a>
            			</li>
		            {% endfor %}
		        </ul>
			</li>
		{% endfor %}
		</ol><br/>
		<input type="submit" value="{% trans "Ajouter au carnet" %}" class="button-link"/>
	</form>
{% endblock %}
