{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %}
	{% blocktrans with songbook=songbook.title%}
	Suppression du carnet <em>{{songbook}}</em>
	{% endblocktrans %}
{% endblock %}

{% block appmenu %}
	{% include "generator/menu/songbook.html" %}
{% endblock %}

{% block content %}
	<p>
		<strong>{% trans "Cette action est irréversible !" %}</strong>
	</p>
	<form method="post" action="">
		{% csrf_token %}
		<input type="submit" value="{% trans 'Confirmer la suppression' %}" /> - <a href="{% url "songbook_private_list" %}">{% trans 'Revenir aux carnets' %}</a>
	</form>
{% endblock %}