{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %}{% endblock %}

{% block headertitle %}
	{% blocktrans with songbook=songbook.title%}
	Suppression du carnet "{{songbook}}"
	{% endblocktrans %}
{% endblock %}

{% block current_songbook %}
	{% include "generator/layout/current_songbook.html" %}
{% endblock %}

{% block content %}
	<p>
        {% blocktrans with songbook=songbook.title%}
        	Êtes-vous sur de vouloir supprimer le carnet <em><strong>{{songbook}}</strong></em> ?
        {% endblocktrans %}
        <br/>
		<strong>{% trans "Cette action est irréversible !" %}</strong>
	</p>
	<form method="post" action="">
		{% csrf_token %}
		<p>
			<input type="submit" value="{% trans 'Confirmer la suppression' %}" />
		</p>
	</form>
{% endblock %}
