{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %}{% endblock %}

{% block headertitle %}
    {% blocktrans with songbook=songbook.title %}
    Téléchargement - {{ songbook }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    
    <div class="thumbnails">
        {% spaceless %}
        {% for layout in layouts %}
            <div class="thumbnail" >
                <div class="{{ layout.other_options.orientation }} {{ layout.booktype }}"></div>
                <ul class="main options">
                    <li>
                        {% if layout.other_options.orientation == "landscape" %}
                            {% trans "Paysage" %}
                        {% else %}
                            {% trans "Portrait" %}
                        {% endif %}
                    </li>
                    <li>
                        {% if layout.booktype == "chorded" %}
                            {% trans "avec accords" %}
                        {% else %}
                            {% trans "sans accords" %}
                        {% endif %}
                    </li>
                </ul>
                <ul class="other options">
                    {% for option in form_options %}
                        {% if option.0 in layout.bookoptions %}
                            <li>{{ option.1 }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="download_links">
                    {% with layout.task.get as task %}
                        {% include "generator/layout/download_links.html" %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
        <div class="thumbnail new-layout" >
            <a href="{% url 'new_download' id=songbook.id slug=songbook.slug %}">
                {% trans "Créer une mise en page" %}
            </a>
        </div>
        {% endspaceless %}
    </div>

{% endblock %}
