{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load staticfiles %}

{% block title %}{% endblock %}

{% block headertitle %}
    {% blocktrans with songbook=songbook.title %}
    Mise en page - {{ songbook }}
    {% endblocktrans %}
{% endblock %}

{% block content %}

    {% if existing_tasks.count > 0 %}

    <h3>{% trans "Mises en page disponibles" %}</h3>
    <table class="layouts">
      <tr><th>{% trans "Nom" %}</th>
          <th>{% trans "Format" %}</th>
          <th>{% trans "Type" %}</th>
          <th>{% trans "Options" %}</th>
          <th>{% trans "Fichier" %}</th>
          </tr>
      {% for task in existing_tasks %}
      <tr><td>{{task.layout.name}}</td>
          <td>
              {% comment %}{{task.layout.other_options.papersize|upper}}{% endcomment %}
              {% if task.layout.other_options.orientation = "landscape" %}
                <img src="{% static "img/bookoption/landscape_32.png" %}" alt="{% trans "Format paysage" %}" title="{% trans "Format paysage" %}">
              {% else %}
                <img src="{% static "img/bookoption/portrait_32.png" %}" alt="{% trans "Format portrait" %}" title="{% trans "Format portrait" %}">
              {% endif %}
          </td>
          <td>
              {% if task.layout.booktype == "chorded" %}
                  {% trans "Avec accords" %}
              {% else %}
                  {% trans "Sans accords" %}
              {% endif %}
          </td>
          <td>
              {% for option in form_options %}
                {% if option.0 in task.layout.bookoptions %}
                  {% with "img/bookoption/"|add:option.0|add:".png" as img_src %}
                    <img src="{% static img_src %}" alt="{{ option.1 }}" title="{{ option.1 }}">
                  {% endwith %}
                {% endif %}
              {% endfor %}
            </td>
            <td>
              {% spaceless %}
              {% if task.state = 'FINISHED' and "file" in task.result %}
                <a href="/medias/PDF/{{task.result.file}}" target="_blank">
                    <img src="{% static "img/download_32.png" %}"
                         alt="{% trans "Télécharger" %}"
                         title="{% trans "Télécharger" %}">
                </a>
                {% if task.hash != songbook.hash %}
                <a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?force=true&layout={{task.layout.id}}">
                    <img src="{% static "img/restart.png" %}"
                         alt="{% trans "Relancer" %}"
                         title="{% trans "Relancer" %}">
                </a>
                {% endif %}
              {% elif task.state = 'IN_PROCESS' or task.state = 'QUEUED' %}
                    <img src="{% static "img/processing_32.gif" %}" alt="{% trans "En cours de traitement" %}" title="{% trans "En cours de traitement" %}">
              {% else %}
                    <img src="{% static "img/error_32.png" %}" alt="{% trans "Erreur" %}" title="{% trans "Erreur" %}">
                    <a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?force=true&layout={{task.layout.id}}">
                        <img src="{% static "img/restart.png" %}"
                             alt="{% trans "Relancer" %}"
                             title="{% trans "Relancer" %}">
                    </a>
              {% endif %}
              {% endspaceless %}
          </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}


    <a href="{% url 'new_download' id=songbook.id slug=songbook.slug %}">
        <span data-icon="new-layout">
            {% trans "Créer une mise en page" %}
        </span>
    </a>
{% endblock %}
