{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load staticfiles %}

{% block title %}
    {% trans "Nouvelle mise en page" %}
{% endblock %}

{% block content %}
    <br/>
    <form class="new_layout" method="post" action="">
        {% csrf_token %}
        <div class="field_container">
          <div>
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {% if field.name != "bookoptions" %}
                    <p>{{ field.label_tag }} {{ field }} </p>
                {% endif %}
            {% endfor %}
            <p>
              <input type="submit" value="{% trans "Créer une mise en page" %}"/>
            </p>
          </div>
        </div>
        <div id="bookoptions"><p>{{ form.bookoptions.label_tag }}<p> {{ form.bookoptions }} </div>
    </form>
{% endblock %}
