{% load i18n %}
{% blocktrans with username=user.username domain=domain %}
Bonjour {{username}}.

Une demande de réinitialisation de mot de passe a été effectué sur le site {{domain}}.

Si vous n'êtes pas à l'origine de cette demande, ne faites rien, la sécurité de votre compte est garantie.

Si vous êtes à l'origine de cette demande, veuillez suivre le lien ci-dessous pour créer un nouveau mot de passe.
{% endblocktrans %}
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans with domain=domain %}
Cordialement,
Les administrateur du site {{domain}}.
{% endblocktrans %}
