{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %}{% trans "Réinitialiser son mot de passe" %}{% endblock %}

{% block content %}
{% if validlink %}
<p>{% trans "Entrez votre nouveau mot de passe :" %}<p>
<form method="post" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">
	{% csrf_token %}
	{{ form.as_p }}
	<p>
		<input type="submit" value="{% trans "Changer de mot de passe" %}"/>
	</p>
</form>
{% else %}
{% trans "Désolé, ce lien n'est pas valide. Effectuez une nouvelle demande." %}
{% endif %}
{% endblock %}
