{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load filters %} {% load staticfiles %}

{% block title %}
    {% blocktrans with songbook=songbook.title %}
        Mise en page de "{{ songbook }}"
    {% endblocktrans %}
{% endblock %}

{% block appmenu %}
    {% include "generator/menu/songbook.html" %}
{% endblock %}

{% block content %}
    <div class="songbook_infos">
        <p class=songbook_description>{{ songbook.description }}</p>
    </div>

    {% if existing_tasks.count > 0 %}

    <h3>{% trans "Mises en page existantes :" %}</h3>
    <table class="layouts">
      <tr><th>{% trans "Nom" %}</th>
          <th>{% trans "Type" %}</th>
          <th>{% trans "Options" %}</th>
          <th>{% trans "Fichier" %}</th>
          </tr>
      {% for task in existing_tasks %}
      <tr><td>{{task.layout.name}}</td>
          <td>
              {% if task.layout.booktype == "chorded" %}
                  {% trans "Avec accords" %}
              {% else %}
                  {% trans "Sans accords" %}
              {% endif %}
          </td>
          <td>
              {% if "diagram" in task.layout.bookoptions %}<img src="{% static "img/chord_diagram_32.png" %}" alt="{% trans "Diagrammes d'accords" %}" title="{% trans "Diagrammes d'accords" %}">{% endif %}
              {% if "pictures" in task.layout.bookoptions %}<img src="{% static "img/song_image_32.jpg" %}" alt="{% trans "Couvertures d'album" %}" title="{% trans "Couvertures d'album" %}">{% endif %}
              {% if task.layout.orientation = "landscape" %}
                <img src="{% static "img/landscape_32.png" %}" alt="{% trans "Format paysage" %}" title="{% trans "Format paysage" %}">
              {% else %}
                <img src="{% static "img/portrait_32.png" %}" alt="{% trans "Format portrait" %}" title="{% trans "Format portrait" %}">
              {% endif %}
              {% comment %}{{task.layout.other_options.papersize|upper}}{% endcomment %}
            </td>
            <td>{% if task.state = 'FINISHED' and "file" in task.result %}
                <a href="/medias/PDF/{{task.result.file}}" target="_blank">
                    <img src="{% static "img/download_32.png"%}"
                         alt="{% trans "Télécharger" %}"
                         title="{% trans "Télécharger"%}">
                </a>
                {% if task.hash != songbook.hash %}
                <a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?force=true&layout={{task.layout.id}}">
                    <img src="{% static "img/restart.png"%}"
                         alt="{% trans "Relancer" %}"
                         title="{% trans "Relancer"%}">
                </a>
                {% endif %}
              {% elif task.state = 'IN_PROCESS' or task.state = 'QUEUED' %}
                    <img src="{% static "img/processing_32.gif" %}" alt="{% trans "En cours de traitement" %}" title="{% trans "En cours de traitement" %}">
              {% else %}
                    <img src="{% static "img/error_32.png" %}" alt="{% trans "Erreur" %}" title="{% trans "Erreur" %}">
                    <a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?force=true&layout={{task.layout.id}}">
                        <img src="{% static "img/restart.png"%}"
                             alt="{% trans "Relancer" %}"
                             title="{% trans "Relancer"%}">
                    </a>
              {% endif %}
          </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <h3>Créer un PDF avec une nouvelle mise en page </h3>

    <form class="new_layout" method="post" action="{% url 'setup_rendering' id=songbook.id slug=songbook.slug %}">
        {% csrf_token %}
        <div id="bookoptions"><p>{{ form.bookoptions.label_tag }}<p> {{ form.bookoptions }} </div>
        <div class="field_container">
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {% if field.name != "bookoptions" %}
                <p>{{ field.label_tag }} {{ field }} </p>
            {% endif %}
        {% endfor %}
        </div>
        <input type="submit" value="{% trans "Génerer le fichier PDF" %}"/>
    </form>
{% endblock %}
