{% extends "generator/layout/full_layout.html" %}
{% load i18n %}

{% block title %}{% endblock %}
{% block headertitle %} {{ songbook.title }} {% endblock %}

{% block current_songbook %}
    {% include "generator/layout/current_songbook_params.html" %}
{% endblock %}

{% block content %}

    {% if can_edit %}
        {% include "generator/layout/order_items_in_songbook.html" %}
    {% else %}
        <div class="songbook-infos">
            <div class="layout-list">
                <h4>{% trans "Téléchargement" %}</h4>
                <ul>
                    <!-- TODO: include the same layout list than in the private songbook list -->
                    {% for task in songbook.tasks.all %}
                        {% if task.state = 'FINISHED' %}
                            <li>
                                <a href="/medias/PDF/{{task.result.file}}">
                                    {{ task.layout.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% empty %}
                        <li>{% trans "Ce carnet n'a pas encore été généré." %}</li>
                    {% endfor %}
                    {% if can_edit %}
                        <li><a href="{% url 'setup_rendering' id=songbook.id slug=songbook.slug %}">
                            {% trans "Voir toutes les mises en page" %}
                         </a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="description">
                <h4>
                    {% trans "Description" %}
                </h4>
                <p>{{ songbook.description }}</p>
            </div>
        </div>
        <div>
            {% include "generator/layout/show_items_in_songbook.html" %}
        </div>
    {% endif %}
{% endblock %}
