{% extends "generator/layout/full_layout.html" %}
{% load i18n %}

{% block title %} {{ songbook.title }} {% endblock %}

{% block appmenu %}
	{% if can_edit %}
		{% include "generator/menu/songbook.html" %}
	{% endif %}
{% endblock %}

{% block content %}
	{% if can_edit %}
		<a href="{% url "songbook_private_list" %}" class="back">
			{% trans "Mes carnets" %}
		</a>
	{% else %}
		<a href="{% url "songbook_list" %}" class="back">
			{% trans "Carnets publics" %}
		</a>
	{% endif %}

    {% if can_edit %}
        {% include "generator/order_items_in_songbook.html" %}
    {% else %}
        {% include "generator/show_items_in_songbook.html" %}
    {% endif %}

	<aside class="playlist">
	<h3>{{songbook.title}}</h3>
	<p>{{ songbook.description }}</p>
	{% blocktrans with n_songs=songbook.count_songs %}
	{{ n_songs }} chants dans ce carnet
	{% endblocktrans %}
	{% if songbook.is_public %} - {% trans "Carnet public" %}{% endif %}
	{% for task in songbook.tasks.all %}
	   <ul>
	   {% if task.state = 'FINISHED' %}
                        <li>
                            <a href="/medias/PDF/{{task.result.file}}">
                                {% trans "Télécharger le carnet avec la mise en page" %} {{task.layout.name}}
                            </a>
                        </li>
       {% endif %}
	   </ul>
	{% empty %}
	   <p>{% trans "Ce carnet n'a pas encore été généré." %}</p>
        {% if user.profile = songbook.user %}
            <a href="{% url 'setup_rendering' id=songbook.id slug=songbook.slug %}">
                {% trans "Générer le PDF" %}
            </a>
        {% endif %}
    {% endfor %}
	</aside>
{% endblock %}
