{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load filters %}{% load staticfiles %}

{% block title %}<span class="song_title">{{ song.title }}</span>{% endblock %}

{% block headertitle %}
	{% blocktrans with title=song.title artist=song.artist.name %}
	{{ title }} par {{ artist }}
	{% endblocktrans %}
{% endblock %}

{% block choose_songbook %}
	{% include "generator/layout/choose_songbook.html" %}
{% endblock %}

{% block breadcrumb %}
	<a href="{% url "artist_list" %}?letter={{ song.artist.name|first_letter }}">{% trans "Tous les artistes" %}</a> &#x009B;
    <a class="artist" href="{% url "show_artist" slug=song.artist.slug %}">{{ song.artist.name }}</a> &#x009B;
{% endblock %}

{% block content %}
	
	{% if current_songbook %}
		{% if song.id in current_songbook_songs %}
			<form method="post" action="{% url "remove_song" %}" class="show_song">
			<button type="submit" class="button-link" data-icon="delete">{% trans "Retirer du carnet" %}</button>
		{% else %}
		    <form method="post" action="{% url 'add_song_to_songbook' %}" class="show_song">
		    <button type="submit" class="button-link" data-icon="add">{% trans "Ajouter au carnet" %}</button>
    	{% endif %}
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url "show_song" artist=song.artist.slug slug=song.slug %}">
                <input type="hidden" name="current_songbook" id="current_songbook_id" value="{{ current_songbook.id }}">
                <input type="hidden" name="songs[]" value="{{ song.id }}">
		    </form>
    {% endif %}

	{% if user.is_authenticated %}
        {% if content.more.failed %}
            <strong style="color:red;font-size:1.5em">
            The parsing of the song failed!
            </strong>

        {% endif %}
        <div class="song_information"> 
            <ul>
                {% with content.data.cov|search_image:content as songcover %}
                {% if songcover or content.data.album %}
                    <li class="cover">
                        {% if songcover %}
                            <img src="{{ songcover }}">
                        {% endif %}
                        {% if content.data.album %}
                            <span>
                                {% blocktrans with album_name=content.data.album %}
                                    <small>Album: </small><em>{{ album_name }}</em>
                                {% endblocktrans %}
                            <span>
                        {% endif %}
                    </li>
                {% endif %}
                {% endwith %}
                {% if content.data.url %}
                    <li>
                        <a href="{{ content.data.url }}" class="song_url">{{ content.data.url }}</a>
                    </li>
                {% endif %}

                {% comment %}
                {% if content.data.languages %}
                    <li>
                        Languages:
                        {% for language in content.data.languages %}
                            {{language}}
                        {% endfor %}
                        get_language_info works only with 'fr' (not 'french')
                        {% get_language_info for language as lang %}
                            <p class="infos">en {{lang.name_local}}<br />
                            </p>
                    </li>
                {% endif %}
                {% endcomment %}
            </ul>
        </div>
        {% if content.data.capo %}
            <div class="capo">
                {% blocktrans with capo=content.data.capo %}
                    Capo: {{ capo }}
                {% endblocktrans %}
            </div>
        {% endif %}
        {{ content.render_defines }}
        <div class="song_content">
            {{ content.render_verses }}
        </div>
    {% else %}
        <p>
            <em>{% trans "Le contenu du chant est seulement accessible aux utilisateurs connectés." %}</em>
        </p>
    {% endif %}

{% endblock %}


