{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load filters %}

{% block headertitle %}
{{ artist.name }}
{% endblock %}

{% block title %}{% endblock %}

{% block choose_songbook %}
	{% include "generator/layout/choose_songbook.html" %}
{% endblock %}

{% block content %}
    

	<form class="add_songs" method="post" action="{% url 'add_song_to_songbook' %}" id="add_songs_form">
        {% if current_songbook %}
    		{% csrf_token %}
    		<input type="hidden" name="next" value="{% url "show_artist" slug=artist.slug %}">
            <input type="hidden" name="current_songbook" id="current_songbook_id" value="{{ current_songbook.id }}">
            
            <button class="selection button-link" type="submit" data-icon="add-multiple">
                {% trans "Ajouter la sélection au carnet" %}
            </button>
        {% endif %}

        <ol class="artists alone">
        	{% include 'generator/artist_item.html' %}
        </ol>
        
        {% if current_songbook %}
            <button class="selection button-link" type="submit" data-icon="add-multiple">
                {% trans "Ajouter la sélection au carnet" %}
            </button>
        {% endif %}
    </form>

{% endblock %}
