{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load filters %}{% load staticfiles %}

{% block title %}<span class="song_title">{{ song.title }}</span>{% endblock %}

{% block headertitle %}
	{% blocktrans with title=song.title artist=song.artist.name %}
	{{ title }} par {{ artist }}
	{% endblocktrans %}
{% endblock %}

{% block choose_songbook %}
	{% include "generator/layout/choose_songbook.html" %}
{% endblock %}

{% block breadcrumb %}
	<a href="{% url "artist_list" %}?letter={{ song.artist.name|first_letter }}">{% trans "Tous les artistes" %}</a> &#x009B;
    <a class="artist" href="{% url "show_artist" slug=song.artist.slug %}">{{ song.artist.name }}</a> &#x009B;
{% endblock %}

{% block content %}
	
	{% if current_songbook %}
		{% if song.id in current_songbook_songs %}
			<form method="post" action="{% url "remove_song" %}" class="show_song">
			<button type="submit" class="button-link" data-icon="delete">{% trans "Retirer du carnet" %}</button>
		{% else %}
		    <form method="post" action="{% url 'add_song_to_songbook' %}" class="show_song">
		    <button type="submit" class="button-link" data-icon="add">{% trans "Ajouter au carnet" %}</button>
    	{% endif %}
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url "show_song" artist=song.artist.slug slug=song.slug %}">
                <input type="hidden" name="current_songbook" id="current_songbook_id" value="{{ current_songbook.id }}">
                <input type="hidden" name="songs[]" value="{{ song.id }}">
		    </form>
    {% endif %}

	{% if user.is_authenticated %}
        {% if content.failed %}
            <strong style="color:red;font-size:1.5em">
            The parsing of the song failed!
            </strong>

        {% endif %}
        <div class="song_information"> 
            <ul>
                {% if content.cover_url or content.album %}
                    <li class="cover">
                        {% if content.cover_url %}
                            <img src="{% static content.cover_url %}">
                        {% endif %}
                        {% if content.album %}
                            <span>
                                {% blocktrans with album_name=content.album %}
                                    Album: <em>{{ album_name }}</em>
                                {% endblocktrans %}
                            <span>
                        {% endif %}
                    </li>
                {% endif %}
                {% if content.url %}
                    <li>
                        <a href="{{ content.url }}" class="song_url">{{ content.url }}</a>
                    </li>
                {% endif %}

                {% if content.languages %}
                    <li>
                        Languages:
                        {% for language in content.languages %}
                            {{language}}
                        {% endfor %}
                        {% comment %}
                        get_language_info works only with 'fr' (not 'french')
                        {% get_language_info for language as lang %}
                            <p class="infos">en {{lang.name_local}}<br />
                            </p>
                        {% endcomment %}
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if content.capo != None %}
            {% blocktrans with capo=content.capo %}
                Utiliser un capodastre en position {{ capo }}.
            {% endblocktrans %}
        {% endif %}
        <div class="song_chords">
            {% for chord in content.chords %}
                {% include 'generator/widgets/chord.html' %}
            {% endfor %}
        </div>
		<div class="song_content"><pre>{{ content.full_content }}</pre></div>
	{% endif %}

{% endblock %}


