{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load filters %}

{% block title %} {{ song.title }} {% endblock %}

{% block headertitle %}
	{% blocktrans with title=song.title artist=song.artist.name %}
	{{ title }} par {{ artist }}
	{% endblocktrans %}
{% endblock %}

{% block choose_songbook %}
	{% include "generator/layout/choose_songbook.html" %}
{% endblock %}

{% block content %}
	<h2 class="artist">
        <a class="back" href="{% url "show_artist" slug=song.artist.slug %}">
            {{ song.artist.name }}
        </a>
    </h2>
	
	{% if current_songbook %}
		{% if song|in_items:current_item_list %}
			<form method="post" action="{% url "remove_song" %}" id="toogle_song_form" class="current_songbook">
			<button type="submit" class="button-link" data-icon="delete">{% trans "Retirer du carnet" %}</button>
			<input type="hidden" name="songs[]" value="{{ song.id }}">
		{% else %}
		    <form method="post" action="{% url 'add_song_to_songbook' %}" id="toogle_song_form" class="current_songbook">
		    <button type="submit" class="button-link" data-icon="add">{% trans "Ajouter au carnet" %}</button>
		    <input type="hidden" name="songs[]" value="{{ song.id }}">
    	{% endif %}
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url "show_song" artist=song.artist.slug slug=song.slug %}">
                <input type="hidden" name="current_songbook" id="current_songbook_id" value="{{ current_songbook.id }}">
		    </form>
    {% endif %}

	{% comment %}
	{% get_language_info for song.language as lang %}
	<p class="infos">en {{lang.name_local}}<br />
	{% if song.capo != None %}
		Utiliser un capodastre en position {{ song.capo }}.
	{% else %}
		Pas de capo pour ce chant
	{% endif %}
	</p>
	{% endcomment %}
	<div class="song_content">{{ content|safe }}</div>

{% endblock %}


