{% load i18n %}
<div class="item-container songbook public" id="{{songbook.id}}" onclick="var e = arguments[0] || window.event;toggle_see_more(this, e)">

    <h2>
        <a href="{% url 'show_songbook' id=songbook.id slug=songbook.slug %}">
            {{songbook.title}}
        </a>
    </h2>
    <div class="details">
        <div class="description">
            {{ songbook.description|linebreaksbr }}
        </div>
        <div class="features">
            {{songbook.song_quantity}} {% trans "chants" %} &sdot;
            <span class="more">
                {{songbook.artist_quantity}} {% trans "artistes" %}
                {% if songbook.section_quantity %}
                    &sdot; {{songbook.section_quantity}} {% trans "sections" %}
                {% endif %}
                <br/>
            </span>

            {% with songbook.finished_tasks.all as finished_tasks %}
            {{ finished_tasks|length }} {% trans "éditions" %}
            <span class="more">
                {% for task in finished_tasks %}
                    {% if forloop.first %}
                        :
                    {% else %}
                        &sdot;
                    {% endif %}
                    <a href="/medias/PDF/{{task.result.file}}" target="_blank">
                        {{ task.layout.name }}
                    </a>
                {% endfor %}
            </span>
            {% endwith %}
            <br/>
        </div>
        <div class="more">
            <ul class="songbook-actions">
                <li>
                    <a href="{% url 'show_songbook' id=songbook.id slug=songbook.slug %}" data-icon="show-book">
                         {% trans "Voir le contenu" %}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
