{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "Carnets publics" %} {% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<a href="{% url "songbook_private_list" %}" class="back">
			{% trans "Mes carnets" %}
		</a>
	{% endif %}
	<br/>
	<div>
		{% for songbook in songbooks %}
			{% if user.id == songbook.user_id %}
                {% include 'generator/songbook_private_item.html' %}
            {% else %}
                {% include 'generator/songbook_public_item.html' %}
			{% endif %}
        {% endfor %}
    </div>
{% endblock %}
