{% extends "generator/user/layout.html" %} {% load i18n %}

{% block title %}{% endblock %}
{% block headertitle %} {% trans "Mes carnets" %} {% endblock %}

{% block content %}
	<div>
        {% for songbook in songbooks %}
            {% include 'generator/songbook_private_item.html' %}
        {% endfor %}
    </div>
	<p>
		<a href="{% url 'new_songbook' %}" data-icon="add-book">{% trans "Créer un nouveau carnet" %}</a>
	</p>
	<a href="{% url "songbook_list" %}" class="back">
		{% trans "Carnets publics" %}
	</a>
{% endblock %}
