{% load i18n %}
<div class="songbook-container private">
<table>
    <tr>
        <th colspan="3">
            <h2 id="{{songbook.id}}">
                <a href="{% url 'show_songbook' id=songbook.id slug=songbook.slug %}">
                    {{songbook.title}}
                </a>
            </h2>
        </th>
        <td class="privacy">
            <a href="{% url 'edit_songbook' id=songbook.id slug=songbook.slug %}#pid_is_public">
                <em>
                {% if songbook.is_public %}
                    {% trans "Public" %}
                {% else %}
                    {% trans "Privé" %}
                {% endif %}
                </em>
            </a>
        </td>
    </tr>
    <tr>
        <td class="description" rowspan="2">
            <p>
                {{ songbook.description}}
            </p>
        </td>
        <th>
            <a href="{% url 'show_songbook' id=songbook.id slug=songbook.slug %}">
                {% trans "Contenu" %}
            </a>
        </th>
        <th>
            <a href="{% url 'setup_rendering' id=songbook.id slug=songbook.slug %}">
                {% trans "Téléchargement" %}
            </a>
        </th>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>{{songbook.count_songs}}{% trans " chants" %}</li>
                <li>{{songbook.count_artists}}{% trans " artistes" %}</li>
                <li>{{songbook.count_section}}{% trans " sections" %}</li>
            </ul>
        </td>
        <td>
            <ul>
                {% for task in songbook.tasks.all %}
                    <li>
                        {% if task.state = 'FINISHED' %}
                            <a href="/medias/PDF/{{task.result.file}}" target="_blank">
                                {{ task.layout.name }}
                            </a>
                            {% if task.hash != songbook.hash %}
                                <small title="{% trans "La version PDF de ce carnet n'est pas à jour." %}">
                                    [<a href="{% url 'render_songbook' id=songbook.id slug=songbook.slug %}?force=true&layout={{task.layout.id}}" class="help">
                                        {% trans "Regénérer" %}
                                     </a>]
                                </small>
                            {% endif %}
                            
                        {% elif task.state = 'ERROR' %}
                            {% trans "Erreur de génération" %} <!-- Ajouter lien pour relancer -->
                        {% else %}
                            {% trans "Génération en cours" %}
                        {% endif %}
                    </li>
                {% empty %}
                {% endfor %}
            </ul>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'edit_songbook' id=songbook.id slug=songbook.slug %}">
                {% trans "Editer la description" %}
            </a>
        </td>
        <td>
            <a href="{% url "set_current_songbook" %}?songbook={{songbook.id}}">
                {% trans "Ajouter des chants" %}
            </a>
        </td>
        <td>
            <a href="{% url 'setup_rendering' id=songbook.id slug=songbook.slug %}">
                {% if songbook.tasks.all.count > 0 %}
                    {% trans "Nouvelle mise en page" %}
                {% else %}
                    {% trans "Créer une mise en page" %}
                {% endif %}
            </a>
        </td>
        <td>
            <a href="{% url "delete_songbook" id=songbook.id slug=songbook.slug %}">
                {% trans "Supprimer" %}
            </a>
        </td>
    </tr>
</table>
</div>