{% extends "generator/user/layout.html" %} {% load i18n %}

{% block title %}{% endblock %}
{% block headertitle %} {% trans "Mes carnets" %} {% endblock %}

{% block content %}
	<a href="{% url "songbook_list" %}" class="related">
		{% trans "Carnets publics" %}
	</a>
	<div class="private-songbooks">
        {% for songbook in songbooks %}
            {% include 'generator/songbook_private_item.html' %}
        {% endfor %}
        <div class="item-container songbook new">
			<a href="{% url 'new_songbook' %}">
				<span data-icon="add-book">
					{% trans "Créer un nouveau carnet" %}
				</span>
			</a>
    	</div>
    </div>
	<p>
	</p>
{% endblock %}
