{% extends "generator/layout/full_layout.html" %} {% load i18n %} {% load filters %}

{% block title %} {% trans "Toutes les chansons" %} {% endblock %}

{% block choose_songbook %}
	{% include "generator/layout/choose_songbook.html" %}
{% endblock %}

{% block content %}
{% include "generator/layout/name_pagination.html" %}
	<form class="add_songs_form" method="post" action="{% url 'add_song_to_songbook' %}" id="add_songs_form">
		{% csrf_token %}
		<input type="hidden" name="next" value="{% url "song_list" %}?page={{page_obj.number}}">
		<input type="hidden" name="current_songbook" id="current_songbook_id" value="{{ current_songbook.id }}">
		<button type="submit" class="button-link selection" data-icon="add-multiple">
			{% trans "Ajouter la sélection au carnet" %}
		</button>
		<ol class="songs selection">
        {% for song in song_list %}
			<li>
				<label class="song" for="song_{{ song.id }}" title="{{ song.title }}">
					<input type="checkbox" name="songs[]" value="{{ song.id }}" class="song_selection"
					id="song_{{ song.id }}" {% if song|in_items:current_item_list %}checked disabled{% endif %}>
					{{ song.title }}
				</label>
				<a class="details artist" href="{% url "show_artist" slug=song.artist.slug %}" title="{{ song.artist.name }}">{{ song.artist.name }}</a>
				<a class="details lyrics" href="{% url "show_song" slug=song.slug artist=song.artist.slug %}">{% trans "Paroles" %}</a>
			</li>
		{% endfor %}
		</ol><br/>
		<button type="submit" class="button-link selection" data-icon="add-multiple">
			{% trans "Ajouter la sélection au carnet" %}
		</button>
    </form>
{% endblock %}
