{% load i18n %}
<div class="item-container songbook private" id="{{songbook.id}}" onclick="var e = arguments[0] || window.event;toggle_see_more(this, e)">

    <h2>
        <a href="{% url 'show_songbook' id=songbook.id slug=songbook.slug %}">
            {{songbook.title}}
        </a>
    </h2>
    <div class="details">
        <div class="description">
            {{ songbook.description|linebreaksbr }}
        </div>
        <div class="features">
            {{songbook.num_songs}} {% trans "chants" %} &sdot;
            <span class="more">
                {{songbook.num_artists}} {% trans "artistes" %}
                {% if songbook.num_section %}
                    &sdot; {{songbook.num_section}} {% trans "sections" %}
                {% endif %}
                <br/>
            </span>

            {% with songbook.tasks.all as tasks %}
            {{ tasks|length }} {% trans "éditions" %}
            <span class="more">
                {% for task in tasks %}
                    {% if forloop.first %}
                        :
                    {% else %}
                        &sdot;
                    {% endif %}
                    {% if task.state = 'FINISHED' %}
                        <a href="/medias/PDF/{{task.result.file}}" target="_blank">
                            {{ task.layout.name }}</a>
                    {% else %}
                        {{ task.layout.name }}
                    {% endif %}
                {% endfor %}
            </span>
            {% endwith %}
            <br/>
        </div>
        <div class="more">
            {% include 'generator/menu/songbook_actions.html' %}
        </div>

    </div>
</div>
