{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "À propos de ce site" %} {% endblock %}

{% block content %}
	<p>
	{% blocktrans %}
	Ce site est une interface web pour l'utilitaire libre <em>songbook</em>, que vous pouvez télécharger sur le site web <a href="http://www.patacrep.fr">Patacrep!</a>. Le but de cet utilitaire est la production automatisée de carnets de chants de grande qualité, avec un rendu typographique confié à LaTeX.
	{% endblocktrans %}
	</p>
	<p>
	{% blocktrans %}
	L'ensemble du projet est sous licence GPLv2 pour le code, et CreativeCommons BY-SA pour les tablatures de la base de chansons. Si vous voulez participer à l'amélioration du projet ou de la base de chansons, rendez-vous sur <a href="http://github.com/patacrep/">Github</a>, ou sur le <a href="http://www.patacrep.fr/forum/">forum</a> du projet.
	{% endblocktrans %}
	</p>
	<p>
	{% blocktrans %}
	Ce recueil de chansons n'a absolument aucune vocation commerciale et joue sur l'autorisation tacite des auteurs et des ayants droits, pensant que la publication de ces tablatures représente plutôt une publicité positive à leur égard. Cependant, si un auteur ou une société accréditée désire s'opposer à la publication de ses tablatures, merci de nous contacter et celles-ci seront immédiatement retirées du site. Toutes les paroles, diffusés sur ce site sont la propriété exclusive de leur(s) auteur(s) c'est-à-dire des auteurs indépendants ou des maisons d'édition détenant les droits. Certaines chansons peuvent appartenir au domaine public.
	{% endblocktrans %}
	</p>
	<p>
	{% blocktrans %}
	Ce site utilise le "<a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icons</a>" déssinées par <a href="http://www.famfamfam.com/about/">Mark James</a>, partagées sous licence <a href="http://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a>.

	{% endblocktrans %}
	</p>
         
{% endblock %}
