{% extends "generator/layout/full_layout.html" %}
{% load i18n %}

{% block title %}
Bienvenue
{% endblock %}

{% block content %}
<style>
    .beta li {
        margin:10px;
    }
</style>
<p>Oui, bienvenue sur la première version beta du site Songbook-web !</p>

<p>Ici, vous pourrez faire votre choix parmi plus de 800 chants pour composer votre propre carnet de chants. Un programme, basé sur LaTeX et le package Songs se chargera ensuite de générer un PDF de grande qualité typographique. Plus besoin de passer des heures à placer les accords et les images !</p>

<h2>Ce site est en version beta</h2>
<p>Cela signifie qu'il est fonctionnel et utilisable, mais qu'un certain nombre de bugs subsistent. Si vous en trouvez, merci d'envoyer un mail à beta.songbookweb(at)gmail.com. </p>
<p>Merci encore de votre aide, et amusez-vous bien avec ce site.</p>
{% endblock %}
