{% load i18n %}
<ul>
{% with id=songbook.id slug=songbook.slug %}
	{% url 'show_songbook' id=id slug=slug as url %}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>
			&nbsp;{{ songbook.title|truncatechars:15 }}&nbsp;
		</a>
	{% url 'item_list' id=id slug=slug as url%}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>
			{% trans "Ordre des chansons" %}
		</a>
	{% url 'edit_songbook' id=id slug=slug as url%}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>
			{% trans "Paramètres" %}
		</a>
	{% url 'delete_songbook' id=id slug=slug as url %}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>
			{% trans "Suppression" %}
		</a>
	{% url 'render_songbook' id=id slug=slug as url %}
        <a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>
            {% trans "Générer le PDF" %}
        </a>
{% endwith %}
</ul>
