/*
File generator.css
Design for the web songbook generator
Created by Luthaf
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DEDEDE;
}

footer, header, section {
    margin: auto;
    width: 90%;
}

section {
    background-color: white;
    border:solid thin black;
    border-radius: 10px;
    padding: 15px;
}

nav {
    background-color: #4C4C4C;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 10px auto;
    width: 90%;
}

nav li {
    display: inline;
}

nav a {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

footer {
    background-color: #86866F;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

header {
    color: #008000;
    padding-top: 2.5em;
}