header{
        .logo{
        height:@nav-width;
        width:@nav-width;
        margin:0;
        text-align:center;
        color:@link-col;
        font-size: 1.3em;

        img {
            width:90%;
        }

        p {
            margin:0;
        }
    }
    h2{
        .text-hide();
    }
    nav{
        font-size:0.8em;
        line-height:1.125em;
    }
    h3{
        font-size:1em;
        color:@nav-title-col;
        font-weight:normal;
        cursor:default;
        margin:0;
        padding:0 0 0.6em 0;
    }
    ul{
        margin:0 0 1.5em 1.5em;
        padding:0;
    }
    li{
        padding:0 0 0.5em 0;
    }
}
