


button[data-icon], a[data-icon]{
    padding-left: 20px;

    &[data-icon="delete"]{
        background:url("@{static-url}img/icon/delete.png") 2px center no-repeat;
    }

    &[data-icon="add"]{
        background:url("@{static-url}img/icon/add.png") 2px center no-repeat;
    }

    &[data-icon="add-multiple"]{
        background:url("@{static-url}img/icon/add_multiple.png") 2px center no-repeat;
    }

    &[data-icon="delete-multiple"]{
        background:url("@{static-url}img/icon/delete_multiple.png") 2px center no-repeat;
    }

    &[data-icon="books"]{
        background:url("@{static-url}img/icon/book.png") 2px center no-repeat;
    }

    &[data-icon="show-book"]{
        background:url("@{static-url}img/icon/book_open.png") 2px center no-repeat;
    }

    &[data-icon="add-book"]{
        background:url("@{static-url}img/icon/book_add.png") 2px center no-repeat;
    }

    &[data-icon="edit-book"]{
        background:url("@{static-url}img/icon/book_edit.png") 2px center no-repeat;
    }

    &[data-icon="save"]{
        background:url("@{static-url}img/icon/book_save.png") 2px center no-repeat;
    }

    &[data-icon="add-section"]{
        background:url("@{static-url}img/icon/add_section.png") 2px center no-repeat;
    }

    &[data-icon="change-password"]{
        background:url("@{static-url}img/icon/change_password.png") 2px center no-repeat;
    }

    &[data-icon="logout"]{
        background:url("@{static-url}img/icon/logout.png") 2px center no-repeat;
    }

    &[data-icon="user"]{
        background:url("@{static-url}img/icon/user.png") 2px center no-repeat;
    }
}