@global-width:1140px;

@nav-width:160px;

@nav-title-col:#444444;

html{
    width:100%;
    font-family:sans-serif;
    background-color:@menu-bg;
}

body{
    max-width:@global-width;
    margin:0 auto;
    padding:1em 0;
}
header{
    width:@nav-width;
    float:left;
    background-color:@menu-bg;
    padding:0 5px;
}
main, .top, footer{
    margin-left:@nav-width + 10px;//padding
}
main{
    background-color:white;
    position:relative;
    min-height:@playlist-height;
}

a{
    text-decoration:none;
    color:@link-col;
    &:hover, &:focus{
        text-decoration:underline;
        color:@link-hover;
    }
    &:visited{
        color:@link-visited;
    }
}

form {
    width: 80%;
    margin: 2em auto;
    p{
        label{
            display: inline-block;
            width: 18em;
            text-align: right;
            @media (max-width:@screen-md){
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
         input {
           @media (max-width:@screen-md){
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    input[type=submit]{
        display: block;
        margin: 1em auto;
    }
}

table {
    width: 80%;
    margin: 2em auto;
}
