.messsages-color (@color: white) {
    border-color:darken(@color,50%);
    background-color:@color;
}

.messages{
    z-index:2;
    margin:15px auto;
    padding:0;
    text-align:center;
    li {
        display:inline-block;
        list-style:none;
        border:solid 2px;
        border-radius:5px;
        padding:5px;
        max-width:30em;
    }
    .success {
        .messsages-color(@messages-success);
    }
    .info {
        .messsages-color(@messages-info);
    }
    .error {
        .messsages-color(@messages-error);
    }
    .warning {
        .messsages-color(@messages-warning);
    }
}

.errorlist{
    .messages;
    li {
        .messsages-color(@messages-error);
    }
}