

a.back{
	&:before{
		content:"\2039  ";
		font-style:normal;
		padding-left:-1em;
	}
}

.selection{
	padding:0;
	display:inline-block;
	li{
		list-style:none;
		padding:0 0.5em;


		&:nth-child(odd){
			background-color:@selection-strip-bg;
		}
		&:hover{
			background-color:@selection-hover-bg;
			.details.lyrics{
				opacity:1;
			}
		}
		.details.lyrics{
			opacity:0;
		}

		&:hover input,
		input:checked,
		input[type=text]{
			opacity:1;
		}
		input{
			opacity:0.3;
			vertical-align:middle;
        }
        .toggle_checkbox{
            display: none;

            &:not(:checked) + ul {
                display: none;
            }
		}
		label.selected,
		input:checked + label{
			color:darken(@link-visited,10%);
		}
		label,
		.details.artist{
			display:inline-block;
			width:17em;
			white-space: nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			vertical-align: middle;
			margin-bottom: 0;
			cursor:pointer;
			padding:.4em .4em .3em .4em;
		}
		.details{
			font-size:80%;
			&.artist{
				font-style:italic;
				display:inline-block;
				width:14em;
			}
		}
	}

}

.playlist{

    @media (min-width:@screen-md){
        position:absolute;
        top:0;
        right:0;
    }

    background-color:darken(@link-visited,10%);
    color:white;
    padding: 0 .5em;
    font-size:90%;
    max-height:@playlist-height;
    overflow-y:auto;
    overflow-x:hidden;
    max-width:35%;

    box-shadow: -5px 5px 10px #888888;

    h2{
        margin-bottom:0;
		width:15em;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		vertical-align: middle;
		margin-bottom: 0;
		& + small{
			display:inline-block;
			float:right;
		}
    }
    select{
    	max-width:15em;
    }
    .selection{
        display:block;
        margin:0;
        clear:both;
    }

    a{
    	color:lighten(@link-col, 10%);
    }
    .song{
		display:inline-block;
		width:21em;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		vertical-align: middle;
		margin-bottom: 0;
		cursor:pointer;
		padding:.4em .4em .3em .4em;
		color:white;
		&:hover{
			text-decoration:none;
		}
    }

    .artist{
    	color:darken(@link-col, 0%);
    }
}

.pagination{
	&.by_name{
        border-bottom:solid 1px gray;
        margin-top:.5em;
	}
	ul{
		padding:0;
		margin:0;
	}
	li{
		list-style:none;
		display:inline-block;

		a{
			padding:0 .3em;
		}
		&.active{
			font-weight:bold;
			a{
				color:black;
			}
		}
	}
}

.section_label{
	cursor:pointer;
	&:hover h4{
		background-color:@selection-hover-bg;
	}
	h4{
		margin:0;
		padding:.7em 0;
		&:before{
			content:"\25b6  ";
		}
	}
}
.section_checker{
	display:none;
	&:checked + .section{
		display:none;
	}
}


.ordering{
	input[type="number"]{
		width:2em;
		text-align:right;
	}
	input{
		border:none;
		background:none;
	}
	input.section_name{
		font-weight:bold;
		opacity:1;
		padding:.5em 0;
		font-size:1.3em;
	}
    input[value="x"]{
        color:red;
        & ~ label,
        & + label > input {
            text-decoration: line-through;
            color:gray;
        }
    }
}

#sb_content {
    li {
        list-style:none;
		padding:0 0.5em;
    }
	h4 {
		margin:0;
		text-indent:1em;
		font-size:1.5em;
	}
}

.songbooks{
    .sb-infos{
      border-bottom: 1px solid #808080;
    }

    h2 {
      font-weight:normal;
    }

    ul {
      padding: 0px;
      margin: 5px auto;
      max-width: 50em;
      text-align: center;
    }

    li{
      list-style:none;
      padding:0 0.5em;
      display:inline-block;
    }
}
