a.back{
	&:not(:empty):before{
		content:"\2039  ";
		font-style:normal;
		padding-left:-1em;
	}
}

ol.selection{
	padding:0;
	display:block;
    margin:1em auto;

    ul {
        margin:0;
        margin-left:2em;
    }

	li{
		list-style:none;
		padding:0 0.5em;


		&:nth-child(odd){
			background-color:@selection-strip-bg;
		}
		&:hover{
			background-color:@selection-hover-bg;
			.details.lyrics{
				opacity:1;
			}
		}
		.details.lyrics{
			opacity:0;
		}

		&:hover input,
		input:checked,
		input[type=text]{
			opacity:1;
		}
		input{
			opacity:0.3;
			vertical-align:middle;
        }
        .toggle_checkbox{
            display: none;

            &:not(:checked) + ul {
                display: none;
            }
		}
		label.selected,
		input:checked + label{
			color:darken(@link-visited,10%);
		}
		label,
		.details.artist{
			display:inline-block;
			width:17em;
			white-space: nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			vertical-align: middle;
			margin-bottom: 0;
			cursor:pointer;
			padding:.4em .4em .3em .4em;
		}
		.details{
			font-size:80%;
			&.artist{
				font-style:italic;
				display:inline-block;
				width:14em;
			}
		}
	}

    .song label{
        margin-left:2em;
    }

    .section label{
        width:auto;
        margin-left:.5em;
    }
}

ol.item_list{
	display: table;
	width: 100%;
	li{
		display: table-row;
		list-style: none;

		&:nth-child(odd){
			background-color:@selection-strip-bg;
		}
		&:hover{
			background-color:@selection-hover-bg;
		}
	}
	label,
	li > a,
	li > span{
		display: table-cell;
		padding:0.5em;
	}
	.title{
		color: darken(@link-col, 10%);
	}
	.artist{
		font-style: italic;
		font-size: .9em;
	}
	.section_name{
		width: 100%;
		background-color: transparent;
		border-color: transparent;
		font-weight:bold;
		font-size:1.3em;
		display: table-cell;

		&:hover,
		&:focus{
			background-color: #f9f9f9;
			box-shadow: none;
		}
	}
	.remove{
		width: 22px;
		background:url("@{static-url}img/icon/delete.png") center center no-repeat;
		opacity: .5;
		&:hover{
			opacity: 1;
		}
	}
	.removed{
		opacity: .5;
		text-decoration: line-through;
		.remove{
			background-image: url("@{static-url}img/icon/revert.png");
		}
	}
	.dragger{
		width: 22px;
		background:url("@{static-url}img/icon/drag.png") center center no-repeat;
		cursor: move;
	}
	li.ui-sortable-helper{
		background-color: fade(lighten(@selection-hover-bg, 70%), 50%);
		.remove{
			display: none;
		}

		&.section{
			.dragger{
				padding-top: 32px;
			}
			.section_name{
				position: absolute;
				left: 38px;
				top: 0;
				background-color: transparent;
			}
		}
	}
}

.pagination{
	&.by_name{
        border-bottom:solid 1px gray;
        margin-top:.5em;
	}
	ul{
		padding:0;
		margin:0;
	}
	li{
		list-style:none;
		display:inline-block;

		a{
			padding:0 .3em;
		}
		&.active{
			font-weight:bold;
			a{
				color:black;
			}
		}
	}
}


.layouts {
    text-align:center;

    tr:nth-child(odd){
        background-color:@selection-strip-bg;;
    }
}