@hint-color:#555;
@hint-color-bg:#aaa;

main{
    clear:right;
    padding:1.5em;
    
    h1, .album{
        font-weight:normal;
        margin:0;
        padding:0;
    }

    h1 .song_title{
        font-family: @font-s;
        font-weight:bold;
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: .3em .7em 0 .7em;
    }

    form.show_song{
        text-align: right;
    }
    .back{
        border-bottom:solid 1px gray;
        padding:.2em 0 .2em 0em;
        margin-bottom:0.6em;
        font-style:italic;
    	display:block;
    }
    .album{
        float:right;
        text-align:center;
        position:relative;
        top:-35px;
        font-style:italic;
        font-size:1em;
        img{
            max-width:150px;
        }
    }
    p{
        padding-left:0.7em;
    }
    
    .bridge{
        border-left:dashed 2px @hint-color;
    }
    
    .chord{
        display:inline-block;
    }
    .chord-name{
        display:block;
        font-style:italic;
        color:@hint-color;
        sup{
            font-size:0.9em;
            top:-3px;
        }
    }
    .chord-text{
        display:block;
        &:empty:after{
            content:"\00a0";
        }
    }

    .chorus{
        font-weight:600;
        border-left:solid 2px @hint-color;
        .chord-name,
        .echo, .rep{
            font-weight:normal;
        }
    }
    .echo{
        &:before{
            content:"(";
        }
        &:after{
            content:")";
        }
    }
    .rep{
        color:@hint-color;
        &:before{
            content:"\00a0\00d7";
        }
    }
    
    .song-content {
        counter-reset: verse-counter;
        //font-family:serif;
        .verse{
            position:relative;
            &:before {
                color:@hint-color;
                content: counter(verse-counter);
                counter-increment: verse-counter;
                position:absolute;
                display:inline-block;
                left: -.8em;
            }
        }
    }
    
    .transposition,
    .transposition-{
        background-color:@hint-color-bg;
        display:inline-block;
        padding:0 1em;
        &:before{
            font-size:1.5em;
        }
    }
    .transposition:before{
        content:"\21d1";
    }
    
    .transposition-:before{
        content:"\21d3";
    }
    .unsupported{
        color:#999;
        &:hover{
            color:#000;
        }
    }
}

.song_content{
    p{
        white-space: pre;
    }
}

.song_information{
    float: right;
    padding: 6px;
    background-color: #F8F8F8;
    ul{
        list-style: none;
        padding: 0 1em;
    }

    .cover{
        text-align: center;
        position: relative;
        min-height: 20px;
        min-width: 200px;
        
        img{
            max-width: 250px;
        }

        img ~ span{
            position: absolute;
            bottom: 3px;
            right: 0;
            left: 0;
            display: inline-block;
            background-color: #fff;
            background-color: rgba(255,255,255,0.9);
            opacity: 0;
            padding: .4em;
        }
    }
    &:hover .cover span{
        opacity: 1;
    }

    .song_url{
        display: inline-block;
        max-width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: .9em;
    }
}

div.chord-diagram{
    position: relative;
    padding: 1em .5em .5em;

    &:before{
        content: attr(data-name);
        position: absolute;
        left: 0;
        right: 0;
        top:0em;
        text-align: center;

    }
}
