.ordering{
	.section_name{
		font-weight:bold;
		opacity:1;
		padding:.2em 0;
		font-size:1.3em;
    border: 0;
    width:20em;
	}
  label.section_name{
    width:5em;
    padding-left:5px;
  }
  .remove {
    width: 16px;
    cursor:pointer;
  }
}



    

.songbook-container{

    font-size: .9em;
    margin:0 auto;
    padding:0;
    width:80%;

    &.public{
        padding-bottom: 1em;
    }

    &:nth-child(odd) {
        background-color:@selection-strip-bg;
    }
    &:nth-child(even) {
        background-color:lighten(@selection-strip-bg, 50%);
    }


    table {
        margin:0;
        width:100%;
        td{
            width: 1%;
        }
        th{
            text-align:left;
            min-width: 150px;
        }
    }




    th{
        h2 {
            margin:0;
            a {
                padding: .5em .5em 0 .5em;
                display: block;
            }
        }
    }

    td {
        padding:.5em .7em;
        vertical-align: top;
        white-space: nowrap;
        &.privacy{
            text-align: right;
        }

        &.description{
            white-space: normal;
            height: 6em;
            overflow: hidden;
            width: 100%;
            p{
                display: block;
                text-align:justify;
                height: 0;
                margin: 0;
            }
        }
        a, &.privacy{
            font-size: .9em;
            opacity: 0;
            transition: opacity .4s ease;
        }
    }

    ul {
        padding:0;
        margin: 0;

        li{
            list-style:none;
            &:before {
               content: '- ';
            }
        }
    }

    table:hover{
        a, td.privacy{
            opacity: 1;
        }
    }
}



.button-link{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    color: @link-col;
    margin: 0;
    &:hover{
        text-decoration: underline;
        &:active{
            padding-right: 6px;
        }
    }
}


button[data-icon], a[data-icon]{
    padding-left: 20px;

    &[data-icon="delete"]{
        background:url("@{static-url}img/icon/delete.png") 2px center no-repeat;
    }

    &[data-icon="add"]{
        background:url("@{static-url}img/icon/add.png") 2px center no-repeat;
    }

    &[data-icon="add-multiple"]{
        background:url("@{static-url}img/icon/add_multiple.png") 2px center no-repeat;
    }

    &[data-icon="show-book"]{
        background:url("@{static-url}img/icon/book_open.png") 2px center no-repeat;
    }

}

.current-songbook {
    border:1px solid #aaa;
    background:url("@{static-url}img/book.jpg") 10px center no-repeat;
    background-size: auto 50px;
    padding-left: 90px;
    margin: 0;
    margin-bottom: 1em;

    h3 {
        margin: .1em;
    }

    ul {
        margin:0;
        padding:0;
    }
    li {
        display: inline-block;
        list-style:none;
        padding:0 5px;
    }
    a, .button-link{
        font-size: .9em;
    }

    .change {
        display: block;
        float: right;
        font-size: .8em;
        padding-right: .1em;
    }
    .button-link{
        display: inline-block;
        white-space: nowrap;
    }
}

@layout_list_width: 30%;
.songbook-infos {
    .description {
        margin-right: @layout_list_width;
    }
    .layout-list {
        text-align:center;
        width:@layout_list_width;
        float:right;

        a {
            margin:auto;
        }

        li {
            list-style:none;

            &:first-child {
                font-weight:bold;
                margin-bottom:10px;
            }
        }
    }
}
