
@static-url:"../";

@menu-bg:#EEEEEC;

@footer-bg:#86866F;
@footer-bg:rgb(76, 76, 76);

@link-col:#007C02; // previous: #06A809;
@link-hover:@link-col;
@link-visited:#007C02;

@selection-hover-bg:rgba(0,0,0,0.1);
@selection-strip-bg:rgba(6,168,9,0.1);

@playlist-height:550px;

@screen-md:1000px;
@screen-sm:640px;

@messages-error:#E88D84;
@messages-success:#B2FFC0;
@messages-warning:#FFC384;
@messages-info:#A6CFFF;