<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Internal error</title>
        <style>
            body{
                width:50%;
                min-width:800px;
                margin:auto;
                text-align:center;
            }
            hr {
                width:70%;
            }
        </style>
    </head>

    <body>
    <div>
        <h1>Page unavailable</h1>

         <p>We are sorry, an unexpected error occured.</p>
         <strong>Error 500: Internal server error</strong>
         <p>The administrators have been notified, check back later.</p>

        <hr />
         <h1>Page inaccessible</h1>

         <p>Nous sommes désolés, une erreur inattendue s'est produite</p>
         <strong>Erreur 500: Erreur interne du serveur</strong>
         <p>Les administrateurs ont été prévenus, essayez de revenir plus tard.</p>
    </div>
    </body>
</html>

