<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		{% block extrahead %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
	</head>
	
	<body>
		<header>
			{% block header %}{% endblock %}
		</header>
		
		<nav> 
			{% block nav %}
			{% endblock %}
		</nav>
		
		<section id='content'>
		{% block messages %}
		{% endblock %}
		{% block content %}
		{% endblock %}
		</section>
		
		<footer>
		{% block footer %}
		{% endblock %}
		</footer>
	</body>
</html>