{% load i18n %}
<ul>
{% with id=songbook.id slug=songbook.slug %}
	{% url 'show_songbook' id=id slug=slug as url %}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>{% trans "Voir le carnet" %}</a>
	{% url 'edit_songbook' id=id slug=slug as url%}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>{% trans "Modifier les options" %}</a>
	{% url 'profile' as url %}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>{% trans "Modifier les chants" %}</a>
	{% url 'delete_songbook' id=id slug=slug as url %}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>{% trans "Supprimer ce carnet" %}</a>
{% endwith %}
</ul>
