{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "Tous les artistes" %} {% endblock %}

{% block content %}
{% include "generator/layout/name_pagination.html" %}
	<form method="post" action="{% url 'add_song_to_songbook' %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{% url "artist_list" %}?page={{page_obj.number}}">
		<ol class="artists selection">
		{% for artist in artist_list %}
			<li>
				<input type="checkbox" name="artists[]" value="{{ artist.id }}" id="artist_{{ artist.id }}">
				<label class="artist" for="artist_{{ artist.id }}" title="{{ artist.name }}">
					{{ artist.name }}
				</label>
				<a class="details songs" href="{% url "song_list_by_artist" artist=artist.slug %}">
					{% trans "Tous les chants" %} ({{ artist.songs.count }})
				</a>
			</li>
		{% endfor %}
		</ol><br/>
		<input type="submit" value="{% trans "Ajouter au carnet" %}"/>
	</form>
{% endblock %}
