{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "Tous les artistes" %} {% endblock %}

{% block content %}
<h2 class="artist"></h2>
	<form method="post" action="404">
		{% csrf_token %}
		<input type="hidden" name="next" value="{% url "artist_list" %}">
		<ol class="artists selection">
		{% for artist in artist_list %} {# TODO: utiliser un tableau #}
			<li>
				<input type="checkbox" name="artists[]" value="{{ artist.id }}" id="artist_{{ artist.id }}">
				<label class="artist" for="artist_{{ artist.id }}" title="{{ artist.name }}">
					{{ artist.name }}
				</label>
				<a class="details songs" href="{% url "song_list_by_artist" artist=artist.slug %}">{% trans "Liste des chants" %}</a>
			</li>
		{% endfor %}
		</ol><br/>
		<input type="button" value="{% trans "Tout (dé)séléctionner" %}"/>
		<input type="submit" value="{% trans "Ajouter au receuil" %}"/>
	</form>
{% include "generator/layout/pagination.html" %}
{% endblock %}
