{% load i18n %}

<div class="playlist">
    <h2>{% trans "Recueil courant" %}</h2>
		<ol class="artists selection">
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		 
			<li>
				<label class="artist" title="Adele">
					Adele
				</label>
			</li>
		
		</ol><br>
    </div>
</div>
