{% load i18n %}
<div class="playlist">
	{% if user.is_authenticated %}
		{% with user_songbooks=user.profile.songbooks.all %}
		{% if current_songbook %}
			<h2 title="{{ current_songbook.title }}">
				{{ current_songbook.title }}
			</h2>
			<small>
				<a href="{% url "edit_songbook" slug=current_songbook.slug pk=current_songbook.pk %}">
					{% trans "Modifier les options" %}
				</a>
			</small>
			<ol class="artists selection"> <!-- Il ne faudrait pas changer la classe ici ? -->
				<li>
				{% for section,song_list in current_song_list.items %}
					<label for="section{{section.id}}"><h4>{{section.name}}</h4></label>
					<input type="checkbox" name="section{{section.id}}" class="section_checker" />
						<ul class="section">			
							{% for song in song_list %}
								<li>
									<a href="{% url 'show_song' slug=song.slug artist=song.artist.slug %}">
									<label class="artist" title="{{song.title}}">
										{{ song.title }}
									</label>
									</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				{% empty %}
					<p>
						{% trans "Ce carnet est vide" %}
					</p>
				{% endfor %}
			</ol><br>
		{% else %}
			<h2>{% trans "Carnets de chants" %}</h2>
		{% endif %}
			{% if user_songbooks.count > 1 or user_songbooks.count > 0 and not current_songbook %}
				<p>
					{% if current_songbook %}
						{% trans "Changer de carnet de chants :" %}
					{% else %}
						{% trans "Choisissez un carnet de chants à modifier :" %}
					{% endif %}
				</p>
				<form method="get" action="{% url 'set_current_songbook' %}">
						<select name="songbook">
							{% for songbook in user_songbooks %}
								{% if songbook != current_songbook %}
									<option value="{{ songbook.pk }}">
										{{ songbook.title }}
									</option>
								{% endif %}
							{% endfor %}
						</select>
					<input type="submit" value="{% trans "Choisir" %}"/>
				</form>
			{% endif %}
			<p>
				<a href="{% url 'new_songbook' %}">{% trans "Créer un nouveau carnet de chant" %}</a>
			</p>
		{% endwith %}
	{% else %}
	{% url 'login' as login %}{% url 'register' as register %}
	<h2>{% trans "Créer un carnet de chants" %}</h2>
		{% blocktrans %}
			Pour créer un carnet, <a href="{{login}}">connectez-vous</a> ou <a href="{{register}}">inscrivez-vous</a>.
		{% endblocktrans %}
	{% endif %}
</div>
