{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
	<link type="text/css" rel="stylesheet" href="{% static "css/generator.css" %}" />
{% endblock %}

{% block title %}Songbook-web %% InDev version{% endblock %}

{% block header %}<h1>Songbook-web</h1> - {% block headertitle %} {{ headertitle }} {% endblock headertitle %} -
	<div id="user_informations">
		{% if user.is_authenticated %}
			<p>Bienvenue, {{ user.username }} !</p>
			<a href="{% url 'logout' %}">Se déconnecter</a> 
		{% else %}
			<p>Bonjour, utilisateur anonyme !</p>
			<a href="{% url 'login' %}">Se connecter</a>
			<a href="{% url 'register' %}">S'inscrire</a>
		{% endif %}
	</div>
{% endblock %}

{% block nav %}
	<ul>
		<li><a href="{% url 'home' %}">Page d'accueil</a></li>
		<li><a href="{% url 'artist_list' %}">Liste des chants</a></li> 
		{% if user.is_authenticated %}
			<li><a href="{% url 'profil' %}">Mon profil</a></li> 
		{% endif %}
	</ul>
{% endblock %}

{% block messages %}
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block footer %} Générateur de carnets de chants en ligne{% endblock %}
		
