{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrahead %}
	<link type="text/css" rel="stylesheet" href="{% static "css/generator.css" %}" />
{% endblock %}

{% block title %}{% trans "Songbook-web %% InDev version" %}{% endblock %}

{% block header %}<h1>{% trans "Songbook-web" %}</h1> - {% block headertitle %} {{ headertitle }} {% endblock headertitle %} -
	<div id="user_informations">
		{% if user.is_authenticated %}
            <p>{% blocktrans with username=user.username %}
			Bienvenue, {{ username }} !
            {% endblocktrans %}</p>
			<a href="{% url 'logout' %}">Se déconnecter</a> 
		{% else %}
			<p>{% trans "Bonjour, utilisateur anonyme !" %}</p>
			<a href="{% url 'login' %}">{% trans "Se connecter"%}</a>
			<a href="{% url 'register' %}">{% trans "S'inscrire" %}</a>
		{% endif %}
	</div>
{% endblock %}

{% block nav %}
	<ul>
		<li><a href="{% url 'home' %}">{% trans "Page d'accueil"%}</a></li>
		<li><a href="{% url 'artist_list' %}">{% trans "Liste des chants" %}</a></li>
		<li><a href="{% url 'songbook_list' %}">{% trans "Liste des carnets" %}</a></li> 
		{% if user.is_authenticated %}
			<li><a href="{% url 'profile' %}">{% trans "Mon profil" %}</a></li> 
		{% endif %}
	</ul>
{% endblock %}

{% block messages %}
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block footer %} {% trans "Générateur de carnets de chants en ligne" %}{% endblock %}
		
