{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {{ songbook.title }} {% endblock %}

{% block appmenu %}
		{% include "generator/menu/songbook.html" %}
{% endblock %}

{% block content %}
<a href="{% url "set_current_songbook" %}?songbook={{songbook.id}}" class="back">
	{% trans "Ajouter des chants au carnet" %}
</a>
<p class="how-to">
{% blocktrans %}
Pour réordonner les chants, il suffit de changer les numéros de la colonne de gauche.<br/>
Pour supprimer un chant, il faut remplacer son numéro par un 'X'.<br/>
<!--
La réorganisation est aussi possible en déplacant les chants à la souris (glisser-déposer, si javascript est activé).
-->

{% endblocktrans %}
</p>
	<form class="selection" method="post" action="{% url 'change_item_list' id=songbook.id slug=songbook.slug %}">
		{% csrf_token %}
	<input type="hidden" name="next" value="{% url "item_list" id=songbook.id slug=songbook.slug %}">
		<ol class="selection ordering">
		{% for item in items_list %}
			<li class="{{ item.item_type.model}}">
				<input type="number" id="item_{{item.id}}" name="item_{{item.id}}" value="{{item.rank}}" />
				{% if item.item_type.model == "section" %}
					<label>
						<input type="text" value="{{item.item.name}}" name="section_{{item.id}}" class="section_name"/>
					</label>
				{% elif item.item_type.model == "song" %}
					<label for="item_{{item.id}}">
						{{ item.item.title }}
					</label>
					<a class="details artist" href="{% url "song_list_by_artist" artist=item.item.artist.slug %}" title="{{ item.item.artist.name }}">
						{{ item.item.artist.name }}
					</a>
					<a class="details lyrics" href="{% url "show_song" slug=item.item.slug artist=item.item.artist.slug %}">
						{% trans "Paroles" %}
					</a>

				{% endif %}
			</li>
		{% empty %}
			<li>
				{% trans "Ce carnet est vide" %}
			</li>
		{% endfor %}
			<li class="section">
				<label for="new_section">
					{% trans "Ajouter une nouvelle section :" %}
				</label>
				<input type="text" name="new_section" id="new_section" class="section_name" placeholder="..."/>
			</li>
		</ol>
		<br/>
		<input type="submit" value="{% trans "Modifier ce carnet" %}">
	</form>

{% endblock %}
