{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {{ song.title }} {% endblock %}

{% block headertitle %}{% blocktrans with title=song.title artist=song.artist.name %}
{{ title }} par {{ artist }}
{% endblocktrans %}
{% endblock %}

{% block content %}
	<p class="infos">Chantée par {{ song.artist.name }}, en {{ song.language.name }} <br />
	{% if song.capo != None %}
		Utiliser un capodastre en position {{ song.capo }}.
	{% else %}
		Pas de capo pour ce chant
	{% endif %}
	</p>
	<div class="song_content">{{ song.content|linebreaks }}</div>
{% endblock %}
