{% extends "generator/generator_base.html" %}

{% block title %} {{ song.title }} {% endblock %}

{% block headertitle %} {{ song.title }} par {{ song.artist.name }} {% endblock %}

{% block content %}
	<p class="infos">Chantée par {{ song.artist.name }}, en {{ song.language.name }} <br />
	{% if song.capo != None %}
		Utiliser un capodastre en position {{ song.capo }}.
	{% else %}
		Pas de capo pour ce chant
	{% endif %}
	</p>
	<div class="song_content">{{ content|linebreaks}}</div>
{% endblock %}