{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {{ songbook.title }} {% endblock %}

{% block appmenu %}
	<ul>
		<li><a href="{% url 'edit_songbook' pk=songbook.pk slug=songbook.slug %}">{% trans "Modifier les options" %}</a></li>
		<li><a href="">{% trans "Modifier les chants" %}</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div id='infos'>
	<h3>{{ songbook.title }}</h3>
	<p>{{ songbook.description }}</p>
	</div>
	<div id='options'>
	<h3>{% trans "Options du carnet" %}</h3>
	<p>{% for option in songbook.bookoptions %}
	{{ option }}
	{% endfor %}</p>
	</div>
	<div id='songs'>
	<h3>{% trans "Chants du carnet" %}</h3>
		<ul>
		{% for song in songbooks.songs %}
			<li> {{ song }} </li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
