{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {{ song.title }} {% endblock %}

{% block headertitle %}{% blocktrans with title=song.title artist=song.artist.name %}
{{ title }} par {{ artist }}
{% endblocktrans %}
{% endblock %}

{% block content %}
	<h2 class="artist"><a class="back" href="{% url "song_list_by_artist" artist=song.artist.slug %}">{{ song.artist.name }}</a></h2>
		<form method="post" action="{% url 'add_song_to_songbook' %}?next={{ request.get_full_path|urlencode }}">{% csrf_token %}
			<input type="hidden" name="songs[]" value="{{ song.id }}">
			<input type="submit" value="{% trans "Ajouter au carnet" %}"/>
		</form>
	{% get_language_info for song.language as lang %}
	<p class="infos">en {{lang.name_local}}<br />
	{% if song.capo != None %}
		Utiliser un capodastre en position {{ song.capo }}.
	{% else %}
		Pas de capo pour ce chant
	{% endif %}
	</p>
	<div class="song_content">{{ song.content|linebreaks }}</div>
	
	
{% include "generator/current_songbook.html" %}

{% endblock %}


