{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "Toutes les chansons" %} {% endblock %}

{% block content %}
{% include "generator/layout/name_pagination.html" %}
	<form method="post" action="404">
		{% csrf_token %}		
		<ol class="songs selection">
		{% for song in song_list %}
			<li>
				<input type="checkbox" name="songs[]" value="{{ song.id }}" id="song_{{ song.id }}">
				<label class="song" for="song_{{ song.id }}" title="{{ song.title }}">
					{{ song.title }}
				</label>
				<a class="details artist" href="{% url "song_list_by_artist" artist=song.artist.slug %}" title="{{ song.artist.name }}">{{ song.artist.name }}</a>
				<a class="details lyrics" href="{% url "show_song" slug=song.slug artist=song.artist.slug %}">{% trans "Paroles" %}</a>
			</li>
		{% endfor %}
		</ol><br/>
		<input type="button" value="{% trans "Tout (dé)séléctionner" %}"/>
		<input type="submit" value="{% trans "Ajouter au receuil" %}"/>
	</form>
	
{% include "generator/current_songbook.html" %}
{% endblock %}
