{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "Mes carnets" %} {% endblock %}

{% block content %}
	<a href="{% url "songbook_list" %}" class="back">
		{% trans "Carnets publics" %}
	</a>
	<p>
		<a href="{% url 'new_songbook' %}">{% trans "Créer un nouveau carnet" %}</a>
	</p>
	<table class="private songbooks">
		{% for songbook in songbooks %}
			<tr>
				<td>
					<a href="{% url "show_songbook" slug=songbook.slug id=songbook.id%}">{{ songbook.title }}</a>
				</td>
				<td>
					{{ songbook.count_songs }}
				</td>
				<td>
					{% if songbook.is_public %}
						<em>{% trans "Public" %}</em>
					{% endif %}
				</td>
				<td>
					<a href="{% url "edit_songbook" slug=songbook.slug id=songbook.id%}">
						{% trans "Paramètres" %}
					</a>
				</td>
				<td>
					<a href="{% url "set_current_songbook" %}?songbook={{songbook.id}}">
						{% trans "Ajouter des chants" %}
					</a>
				</td>
				<td>
					<a href="{% url "delete_songbook" id=songbook.id slug=songbook.slug %}">
						{% trans "Supprimer" %}
					</a>
				</td>
					
			</tr>
		{% endfor %}
	</table>
{% endblock %}
