{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %}{% blocktrans with artist=artist.name %}
{{ artist }} 
{% endblocktrans %}
{% endblock %}

{% block content %}
	<a class="artist back" href="{% url "artist_list" %}">{% trans "Tous les artistes" %}</a>
	<form method="post" action="{% url 'add_song_to_songbook' %}?next={{ request.get_full_path|urlencode }}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{% url "song_list_by_artist" artist=artist.slug %}">
		
		<ol class="songs selection">
		{% for song in song_list %}
			<li>
				<input type="checkbox" name="songs[]" value="{{ song.id }}" 
				id="song_{{ song.id }}" {% if song in current_song_list %}checked disabled{% endif %}>
				<label class="song" for="song_{{ song.id }}" title="{{ song.title }}">
					{{ song.title }}
				</label>
				<a class="details lyrics" href="{% url "show_song" slug=song.slug artist=song.artist.slug %}">{% trans "Paroles" %}</a>
			</li>
		{% endfor %}
		</ol><br/>
		<input type="submit" value="{% trans "Ajouter au carnet" %}"/>
	</form>
	
{% include "generator/layout/pagination.html" %}

{% include "generator/current_songbook.html" %}
{% endblock %}
