{% extends "generator/generator_base.html" %} {% load i18n %}

{% block title %}{% blocktrans with artist=artist.name %}
Liste des chants de {{ artist }} 
{% endblocktrans %}
{% endblock %}

{% block headertitle %}
{% blocktrans with artist=artist.name %}
Liste des chants de {{ artist }} disponibles
{% endblocktrans %}
{% endblock %}

{% block content %}
	{% for song in song_list %}
		<div class="song">
			<h3>{{ song.title }}</h3>
			<p>{{ song.content|truncatewords_html:80 }}</p>
			<p><a href="{% url "show_song" slug=song.slug artist=song.artist.slug %}">Voir le chant</a>
		</div>
	{% endfor %}
{% include "generator/pagination.html" %}
{% endblock %}