{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %}
	{% blocktrans with songbook=songbook.title%}
	 Paramètres du carnet <em>{{songbook}}</em>
	{% endblocktrans %}
{% endblock %}

{% block appmenu %}
	{% include "generator/menu/songbook.html" %}
{% endblock %}

{% block content %}
	<form method="post" action="{% url 'edit_songbook' id=songbook.id slug=songbook.slug%}">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="{% trans "Changer les options" %}"/>
	</form>
{% endblock %}
