{% load i18n %}
    <ul class="songbook-actions">
    {% spaceless %}
        <li{% if current_songbook %} class="active"{% endif %}>
            <a href="{% url "set_current_songbook" %}?songbook={{songbook.id}}" data-icon="add">
                {% trans "Ajouter des chants" %}
            </a>
        </li>
        {% with id=songbook.id slug=songbook.slug %}
            {% url 'show_songbook' id=id slug=slug as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}" data-icon="show-book">
                        {% trans "Contenu" %}
                    </a>
                </li>
            {% url 'edit_songbook' id=id slug=slug as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}" data-icon="edit-book">
                        {% trans "Description" %}
                    </a>
                </li>
            {% url 'setup_rendering' id=id slug=slug as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}" data-icon="save">
                        {% trans "Téléchargement" %}
                    </a>
                </li>
            {% url 'delete_songbook' id=id slug=slug as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}">
                        {% trans "Suppression" %}
                    </a>
                </li>
        {% endwith %}
    {% endspaceless %}
    </ul>