{% load i18n %}

{% spaceless %}
{% if user.is_authenticated %}
<ul class="user-menu">
    {% if user.is_superuser %}
        {% load admin_urls %}
        <li>
            {% url 'admin:index' as url%}
            <a href="{{ url }}">
                Django administration
            </a>
        </li>
    {% endif %}
    <li>
        {% url 'songbook_private_list' as url %}
        <a href="{{ url }}" data-icon="user">
            &nbsp;{{ user.username }}&nbsp;
        </a>
    </li>
</ul>

{% else %}
<ul class="user-menu">
    <li>
        <a href="{% url 'register' %}" data-icon="user-register">{% trans "Créer un compte" %}</a>
    </li>
    <li>
        <a href="{% url 'login' %}"  data-icon="user-login">{% trans "Connexion" %}</a>
    </li>
</ul>
{% endif %}
{% endspaceless %}
