{% load i18n %}

{% spaceless %}
{% if user.is_authenticated %}
<ul class="user-menu">
    <li>
        {% blocktrans with username=user.username %}
			Bienvenue, {{ username }}
        {% endblocktrans %}
    </li>
	<li>
		{% url 'songbook_private_list' as url %}
		<a href="{{ url }}">{% trans "Mes carnets" %}</a>
	</li>
	<li>
		{% url 'password_change' as url %}
		<a href="{{ url }}"{% if request.path == url %} class="active"{% endif %}>{% trans "Changer de mot de passe" %}</a>
	</li>
    <li>
        <a href="{% url 'logout' %}">{% trans "Se déconnecter" %}</a>
    </li>
</ul>

{% else %}
<ul class="user-menu">
    <li>
        <a href="{% url 'register' %}">{% trans "Créer un compte" %}</a>
    </li>
    <li>
        <a href="{% url 'login' %}">{% trans "Connexion" %}</a>
    </li>
</ul>
{% endif %}
{% endspaceless %}
