{% extends "generator/layout/full_layout.html" %} {% load i18n %}

{% block title %} {% trans "Foire aux questions" %} {% endblock %}

{% block content %}
	<p>
	{% url 'contact' as contact %}
	{% blocktrans with contact=contact  %}
	Vous trouverez ici des réponses aux questions les plus fréquement posées. Si vous avez encore une question après avoir lu cette page, vous pouvez nous <a href="{{contact}}">contacter</a>.
	{% endblocktrans %}
	</p>

	<h3>{% trans "J'aimerais ajouter <em>cette</em> chansons à mon carnet, je fait comment ?" %}</h3>
	<p>
    {% url 'flatpage' url='contribute' as contrib %}
	{% blocktrans %}
	Allez voir sur la page <a href="{{contrib}}">comment contribuer</a> pour une réponse plus précise à cette question.
	{% endblocktrans %}
	</p>

	<h3>{% trans "Je voudrais modifier la mise en page de mon carnet, comment faire ?" %}</h3>
	<p>
	{% blocktrans %}
	Si les différents templates, et leurs différentes options ne vous conviennent pas, vous pouvez écrire votre propre template de mise en page ! Récupérez les sources du <a href="http://github.com/patacrep/songbook-core/">moteur</a> et des <a href="http://github.com/patacrep/songbook-data/">données</a> sur Github, écrivez votre propre template et envoyez-le nous pour le partager avec le tout le monde !
	{% endblocktrans %}
	</p>

	<h3>{% trans "Combien coute l'utilisation de ce site ?" %}</h3>
	<p>
	{% blocktrans %}
	A vous, rien du tout ! Ce projet est libre et gratuit, et le restera ! Cela veut dire que même si ce site ferme, l'ensemble du code utilisé restera disponible sur <a href="http://github.com/patacrep/songbook-core/">Github</a>
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}
	 Pourquoi mettre un tel service à disposition alors ? Entres autres pour le goût du partage, l'envie d'être utile et de mettre ses capacités au service des autres, et parce que cela nous fait plaisir.
	{% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}
	Mais même si ce site est gratuit d'utilisation, le mettre à votre disposition nous coute de l'argent, principalement pour payer le serveur sur lequel il est hébergé. Si vous le trouvez utile, vous pouvez faire un don pour nous aider à supporter ce coût !
	{% endblocktrans %}
	</p>
	
	<h3>{% trans "C'est un super projet, j'aimerai beaucoup participer, mais je ne sais pas quoi faire." %}</h3>
    <p>
    {% blocktrans %}
    Toutes les bonnes volontées sont aceptée pour améliorer ce projet. Plusieurs compétences peuvent être utiles :
    <ul>
        <li>Des dévellopeurs Python/Django, pour améliorer ce site</li>
        <li>Des dévellopeurs web (HTML, CSS, JS) pour améliorer la présentation et l'interface de ce site</li>
        <li>Des dévellopeurs C++/Qt, pour améliorer le <a href="http://github.com/patacrep/songbook-gui/">client local</a></li>
        <li>Des dévellopeurs Python et/ou LaTeX pour améliorer le <a href="http://github.com/patacrep/songbook-core/">moteur de rendu</a></li>
    </ul>
    <em>Et si je ne suis pas développeur, je ne peux pas aider ?</em><br />
    Si bien sur ! Il nous faut aussi :
    <ul>
    	<li>Des traducteurs, pour que nous puissions dominer le monde. La priorité est la traduction en anglais, mais toutes les contributions sont les bienvenues !</li>
        <li>Des gens qui ajoutent des chansons (voir <a href="{{ contrib }}">comment contribuer</a>), en écrivant des fichier .sg</li>
        <li>Des gens qui aiment Lilypond, et qui rajoutent des partitions ou des tablatures aux chansons</li>
        <li>Des gens qui aiment le dessin, et qui proposent de nouvelles illustrations</li>
        <li>Et des gens qui peuvent nous aider mais nous ne le savons pas encore !</li>
    </ul>
    Dans tous les cas, n'hésitez pas à nous <a href="{{contact}}">contacter</a> !
    {% endblocktrans %}
    </p>
{% endblock %}
